body {
  width: 1240px;
  margin: 0 auto;
  padding-top: 40px;
  position: relative;
}

.logo {
  width: 100%;
}

.logo img {
  width: 100%;
}

.left-line {
  position: absolute;
  left: 0;
}

.container {
  width: 90%;
  margin: 0 auto;
}

.title {
  margin-top: 60px;
  font-size: 20pt;
  color: #3c3f54;
  font-weight: 900;
}

.table {
  width: 100%;
  border-collapse: collapse;
}

.table__header {
  color: #848aa5;
  font-size: 10pt;
  text-align: left;
  font-weight: 700;
  border-bottom: 2px solid #848aa5;
}

.table__billed {
  width: 34%;
}

.table__date,
.table__number,
.table__deposit {
  width: 22%;
}

.table__body {
  font-size: 9pt;
}

.table__price {
  font-size: 14pt;
}

.billing-table {
  margin-top: 60px;
}

.shoping-table {
  margin-top: 60px;
}

.hz-kak-nazvat {
  margin-top: 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.hz-kak-nazvat__left {
  width: 40%;
}

.hz-kak-nazvat__table {
  width: 35%;
}

.hz-table {
  border-collapse: collapse;
}

.hz-table__header {
  color: #848aa5;
  font-size: 10pt;
  text-align: left;
  font-weight: 700;
  border-bottom: 2px solid #848aa5;
  width: 50%;
}

.hz-table__header_first {
  border-top: 2px solid #848aa5;
}

.hz-table__content {
  color: #d0cece;
  border-bottom: 2px solid #d0cece;
}

.hz-table__content_first {
  border-top: 2px solid #d0cece;
}

.subtotal {
  border-collapse: collapse;
  margin-top: 30px;
  width: 35%;
}

.subtotal__header {
  color: #848aa5;
  font-size: 10pt;
  text-align: left;
  font-weight: 700;
  border-bottom: 2px solid #848aa5;
  width: 50%;
}

.subtotal__header_first {
  border-top: 2px solid #848aa5;
}

.subtotal__content {
  color: #d0cece;
  border-bottom: 2px solid #d0cece;
}

.subtotal__content_first {
  border-top: 2px solid #d0cece;
}