<label class="questions-form__label"> Your name <span class="questions-form__requierd">*</span> 
    [text* your-name class:questions-form__input] </label>

<label class="questions-form__label"> Your email <span class="questions-form__requierd">*</span> 
    [email* your-email class:questions-form__input] </label>

<label class="questions-form__label"> Phone number <span class="questions-form__requierd">*</span> 
[tel* Phonenumber class:questions-form__input placeholder "+ _ _ _ (_ _ _)"]</label>

<label class="questions-form__label"> What’s on your mind? <span class="questions-form__requierd">*</span> 
    [textarea* your-message class:questions-form__input class:questions-form__textarea] </label>

<p class="questions-form__requierd-description">* Required fields</p>

[submit class:btn class:btn-dark "Submit"]